# Environnement virtuel Python
.venv/
venv/
__pycache__/

# Fichiers générés par l'IDE
.vscode/
.idea/

# Fichiers temporaires
*.tmp
*.log

# Fichiers sensibles (mots de passe, clés API)
.env
secrets.py
devices.json